<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<br />
<br />
<br />
<br />
<ion-content>
  <ion-card>
    <ion-card-header>
      Login
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-input type="text" value="" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password"> </ion-input>
      </ion-item>
    </ion-list>
    <ion-row justify-content-end>
      <ion-button color="primary">Login</ion-button>

      <ion-button color="secondary">Register</ion-button>
    </ion-row>
    <ion-card-content>
      <!-- Add card content here! -->
    </ion-card-content>
  </ion-card>
</ion-content>
