<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <div class="wrapper">
      <div class="box green">
        <h2>Ionic Native</h2>
        <p>Apache Cordova compatible plugins</p>
      </div>

      <div class="box blue">
        <h2>TypeScript</h2>
        <p>Superset of JavaScript</p>
      </div>

      <div class="box purple">
        <h2>Sass</h2>
        <p>Object oriented CSS</p>
      </div>

      <div class="box orange">
        <h2>HTML 5</h2>
        <p>Semantic Mark-up and related API's</p>
      </div>

      <div class="box violet">
        <h2>Ionic CLI</h2>
        <p>The engine behind the framework</p>
      </div>

      <div class="box turquoise">
        <h2>Stencil</h2>
        <p>Web component generator</p>
      </div>

      <div class="box yellow">
        <h2>Web Components</h2>
        <p>Self-packaged modules</p>
      </div>
    </div>
  </ion-card>
</ion-content>
